<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">scheduler</a>
    <ul class="nav">
      <li class="active"><a href="#schedules">Schedules</a></li>
    </ul>
  </div>
</div>
